.post {
  /* background: #aaa; */
  /* border: solid 1px black; */
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
  box-shadow: 1px 1px 2px #aaa;
}

.posts {
    position: absolute;
    top: 300px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: scroll;
}
te; */
  border-radius: 1em;
  padding: 1em;
  box-shadow: 2px 2px 2px #aaa;
}
